<!DOCTYPE html>
<html>
<head>
    <title>LeetCode Stats</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="main-container">

    <h1>⚡ {{ username }}'s LeetCode Stats</h1>

    <div class="stats-container">

        <form action="/import" method="POST">
        
            <ul>
        
                {% for s in submissions %}
        
                    <li>
        
                        <input
                            type="checkbox"
                            name="selected"
                        
                            value="{{ s.title }}|{{ s.titleSlug }}|{{ s.timestamp }}"
                        
                            checked
                        >
        
                        {{ s.title }}
        
                    </li>
        
                {% endfor %}
        
            </ul>
        
            <button type="submit">
                Import Selected
            </button>
        
        </form>
    </div>

    <br>

    <a href="/">
        <button class="edit-btn">
            Back
        </button>
    </a>

</div>

</body>
</html>