<body>

<div class="auth-container">

    <h1>🚀 Track your Code</h1>

    <p class="auth-subtitle">
        Welcome back
    </p>

    {% if error %}
        <div class="error-message">
            {{ error }}
        </div>
    {% endif %}

    <form class="auth-form" method="POST">

        <input
            type="email"
            name="email"
            placeholder="Email"
            required
        >

        <input
            type="password"
            name="password"
            placeholder="Password"
            required
        >

        <button type="submit">
            Login
        </button>

    </form>

    <p class="auth-link">
        Don't have an account?
        <a href="/register">Register</a>
    </p>

</div>

</body>